@import 'tmp/fonts.scss';
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	.container{
		display:flex;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		&-block:first-of-type {		
			width: 60%;
			background: linear-gradient(-23deg, #5449b6 0%, #6ba8dc 100%);
			position: relative;
			height: auto;
			.half-circle {
				height: 103%;
			    width: 70px;
			    position: absolute;
			    right: 0;
			    top: 0;
			    overflow: hidden;
			}
			.half-circle:before {
				  content: '';
				    position: absolute;
				    bottom: -46px;
				    right: 0;
				    width: 240px;
				    height: 110%;
				    border-radius: 100%;
				    box-shadow: 0 300px 0 300px #10172f;
				}
			.help {
				max-width: 970px;
				min-height: 400px;
				margin: 0 auto;
				margin-top: 25%;
				text-align: center;
				position: relative;
				z-index: 10;
				.top{
					font-size: 0;
					text-align: center;
					margin-left: 5%;
					img {
						display: inline-block;
						vertical-align: middle;
					}
					p {
					display: inline-block;
					margin: 0;
					margin-left: 20px;	
					width: 20%;
					height: 100%;
					opacity: 0.42;
					color: #ffffff;
					font-family: "Museo Sans Cyrl 300";
					font-size: 2vw;
					font-weight: 400;
					letter-spacing: -1.03px;
					vertical-align: middle;
					text-align: right;
					}
				}
				.middle {
					width: 100%;
					margin-top: 60px;
					p {
					width: 100%;
					text-align: center;
					height: 33px;
					color: #ffffff;
					font-family: 'Helvetica Neue';
					font-size: 1.7vw;
					font-weight: 300;
					line-height: 54px;
					letter-spacing: 0.36px;
					margin: 0;
				}
				}
				.bottom {
					width: 60%;
					margin: 0 auto;
					text-align: center;
					margin-top: 30px;
					p {
						display: inline-block;
						font-family: 'Helvetica Neue';
						color: #fff;
						font-size: 1.5vw;
						margin-left: 10px;
						font-weight: 300;
						letter-spacing: 0.36px;
					}
					button {
						background: rgba(125,145,211,.4);
						border: none;
						box-shadow: 0 4px 13px rgba(0, 0, 0, 0.16);
						border-radius: 6px;
						padding: 15px 25px;
						color: #fff;
						font-size: 1vw;
						font-weight: 700;
						text-transform: uppercase;
						font-family: 'Helvetica Neue';
						transition: all .4s;
					}
					button:last-child {
						margin-left: 10px;
					}
					button:hover {
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);	
					}
				}
			}
			@import 'tmp/svg';
		}
		&-block:last-of-type {
			width: 40%;
			background: #10172f;
			position: relative;
			height: auto;
			.welcome {
				max-width: 450px;
				min-height: 810px;
				margin: 0 auto;
				margin-top: 20%;
				text-align: center;
				padding: 20px;
				position: relative;
				.list {	
					margin-top: 50px;
					height: 250px;
					overflow-y: scroll;
					overflow-x: hidden;
					padding: 0 10px;
					p,p:nth-child(2),p:last-child {
						margin-top: 10px;
						padding: 15px;
						border-bottom: 1px solid rgba(238,240,241,.13);
						color: #616983;
						font-family: "Helvetica Neue";
						font-size: 1.3vw;
						font-weight: 400;
						line-height: 47.85px;
						cursor: pointer;
					}
				}
				.list::-webkit-scrollbar {
					  width: 5px;
					}
				.list::-webkit-scrollbar-thumb {
					  background: rgba(164,169,185,.61); 
					  border-radius: 5px;
									}
				p {
					display: block;
					text-align: left;
					color: #ffffff;
					font-family: "Helvetica Neue";
					font-size: 2vw;
					font-weight: 900;
					line-height: 56.48px;
					letter-spacing: 0.36px;
					margin: 0;
					margin-top: 20px;
					text-align: center;
					span {
						font-weight: normal;
					}
					a {
						color: #0092e6;
						text-decoration: none;
					}
				}
				p:nth-child(2) {
					color: #616983;
					font-family: "Helvetica Neue";
					font-size: 1.2vw;
					font-weight: 400;
					line-height: 47.85px;
				}
				p:nth-child(2) {
					margin-top: 0;
				}
				input {
					display: block;
					width: 100%;
					margin-top: 40px;
					border: none;
					border-bottom: 1px solid #616983;
					background: #10172f;
					padding: 10px 0;
					color: #616983;
					font-family: "Helvetica Neue";
					font-size: 1.2vw;
					font-weight: bold;
					line-height: 48px;
					outline: none;
				}
				input::placeholder { 
				    color: #616983; 
				}
				button {
					width: 100%;
					margin-top: 40px;
					border: none;
					border-radius: 6px;
					cursor: pointer;
					padding: 10px 0;
					background: linear-gradient(-256deg, #127ef9 0%, #54c3fe 100%);
					position: relative;
					z-index: 100;
					&:before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						border: none;
						border-radius: inherit;
						cursor: pointer;
						background: linear-gradient(-256deg,#54c3fe  0%, #127ef9  100%);
						position: absolute;
						opacity: 0;
						top:0;
						left:0;
						z-index: -100;
						transition: opacity 0.5s;
					}
					&:hover {
					    &:before {
					      opacity: 1;
					    }
					  }
					a {
						text-decoration: none;
						color: #fff;
						font-size: 1.2vw;
						font-family: "Helvetica Neue";
					}
					i {
						color: #fff;
						margin-left: 10px;
						transition: .4s ease-out;
					}
				}
				button:hover i {
					transform: translateX(10px);
				}
			}
		}

	}
}
@media screen and (max-width: 319px){
	body {
		.container {
			flex-wrap: wrap;
			&-block:first-of-type {
				width: 100%;
				height: 399px;
				.half-circle {
					display: none;
				}
				.help {
					margin-top: 10%;
					.top {
						p {
							font-size: 4vw;
						}
					}
					.middle {
						p {
							font-size: 3.5vw;
						}
					}
					.bottom {
						width: 80%;
						p {
						font-size: 4vw;
						}
						button {
							font-size: 2.5vw;
							
						}	
					}
					}
			}
			&-block:last-of-type {
				width: 100%;
				min-height: 400px;
				.welcome {
					margin-top: 0;
					padding: 30px;
					i.fas {
					    top: 25px;
					    left: 30px;
					}
					.list {
						p,p:nth-child(2),p:last-child {
							font-size: 3.5vw;
						}
					}
					p {
						font-size: 4.5vw;
					}
					p:nth-child(2),p:last-of-type,input {
					font-size: 4vw;
					}
					.new-pass {
						.invalid {
						top: 35%;
						right: 7%;
						font-size: 2.3vw;
						.triangle {
						    transform: rotate(0deg);
						    top: 40px;
						    left: 85px;
							}
						}
					}
					.invalid {
					top: 29%;
					right: 7%;
					font-size: 3.5vw;
					.triangle {
					    transform: rotate(0deg);
					    top: 40px;
					    left: 95px;
						}
					}
					.password {
					top: 50%;
					}
					button {
						a {
							font-size: 4vw;
						}
					}
				}
			}
		}
	}
}
@media screen and  (min-width: 320px) and (max-width: 479px){
	body {
		.container {
			flex-wrap: wrap;
			height: 100%;
			&-block:first-of-type {
				width: 100%;
				height: 100%;
				.half-circle {
					display: none
				}
				.help {
					min-height: 400px;
					
					.top {
						p {
							font-size: 4vw;
						}
					}
					.middle {
						p {
							font-size: 3.5vw;
						}
					}
					.bottom {
						width: 80%;
						p {
						font-size: 2.5vw;
						}
						button {
							font-size: 1.6vw;		
						}	
					}
					}
			}
			&-block:last-of-type {
				width: 100%;
				height: 566px;
				.welcome {
					min-height: 565px;
					margin-top: 0;
					padding: 30px;
					i.fas {
					    top: 15px;
					    left: 30px;
					}
					.list {
						p,p:nth-child(2),p:last-child {
							font-size: 2vw;
						}
					}
					p {
						font-size: 4.5vw;
					}
					p:nth-child(2),p:last-of-type,input {
					font-size: 2.5vw;
					}
					.new-pass {
						.invalid {
						top: 34%;
						right: 7%;
						font-size: 1.7vw;
						.triangle {
						    transform: rotate(0deg);
						    top: 40px;
						    left: 110px;
							}
						}
					}
					.invalid {
					top: 29%;
					right: 7%;
					font-size: 1.7vw;
					.triangle {
					    transform: rotate(0deg);
					    top: 40px;
					    left: 110px;
						}
					}
					.password {
					top: 50%;
					}
					button {
						a {
							font-size: 2.5vw;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 480px) and (max-width: 768px){
	body {
		.container {
			flex-wrap: wrap;
			height: 100%;
			&-block:first-of-type {
				width: 100%;
				min-height: 450px;
				.half-circle {
					display: none
				}
				.help {
					margin-top: 10%;
					.top {
						p {
							font-size: 4vw;
						}
					}
					.middle {
						p {
							font-size: 3.5vw;
						}
					}
					.bottom {
						width: 80%;
						p {
						font-size: 2.5vw;
						}
						button {
							font-size: 1.6vw;		
						}	
					}
					}
			}
			&-block:last-of-type {
				width: 100%;
				min-height: 400px;
				.welcome {
					margin-top: 0;
					padding: 30px;
					i.fas {
					    top: 15px;
					    left: 30px;
					}
					.list {
						p,p:nth-child(2),p:last-child {
							font-size: 2vw;
						}
					}
					p {
						font-size: 4.5vw;
					}
					p:nth-child(2),p:last-of-type,input {
					font-size: 2.5vw;
					}
					.new-pass {
						.invalid {
						top: 34%;
						right: 7%;
						font-size: 1.7vw;
						.triangle {
						    transform: rotate(0deg);
						    top: 40px;
						    left: 110px;
							}
						}
					}
					.invalid {
					top: 29%;
					right: 7%;
					font-size: 1.7vw;
					.triangle {
					    transform: rotate(0deg);
					    top: 40px;
					    left: 110px;
						}
					}
					.password {
					top: 50%;
					}
					button {
						a {
							font-size: 2.5vw;
						}
					}
				}
			}
		}
	}
}
@media screen and  (min-width: 769px) and (max-width: 1024px){
	body {
		.container {	
			&-block:first-of-type {
				height: 100%;
				.half-circle {
					
				}
				.help {
					min-height: 800px;
					margin-top: 70%;
					.top {
						p {
							font-size: 3.2vw;
						}
					}
					.middle {
						p {
							font-size: 2.2vw;	
						}
						
					}
					.bottom {
						width: 80%;
						p {
						font-size: 1.7vw;
						}
						button {
							font-size: 1.3vw;
						}	
					}
					}
			}
			&-block:last-of-type {
				height: 100%;
				.welcome {
					min-height: 960px;
					padding: 30px;
					margin-top: 70%;
					i.fas {
					    top: 10px;
					    left: 27px;
					}
					.list {
						p,p:nth-child(2),p:last-child {
							font-size: 1.5vw;
						}
					}
					p {
						font-size: 2.5vw;
					}
					p:nth-child(2),p:last-of-type,input {
					font-size: 1.5vw;
					}
					.new-pass {
						.invalid {
						top: 34%;
						right: 7%;
						font-size: 1.5vw;
						.triangle {
						    transform: rotate(0deg);
						    top: 40px;
						    left: 110px;
							}
						}
					}
					.invalid {
					top: 18%;
					right: 7%;
					font-size: 1.3vw;
					.triangle {
					    transform: rotate(0deg);
					    top: 40px;
					    left: 110px;
						}
					}
					.password {
					top: 34%;
					}
					button {
						a {
							font-size: 1.8vw;
						}
					}
				}
			}
		}
	}
}
@media screen and  (min-width: 1025px) and (max-width: 1800px) {
	body {
		.container {
			&-block:first-of-type {
				.help {
					margin-top: 50%;
				}
			}
			&-block:last-of-type {
				.welcome {
					margin-top: 50%;
				}
			}		
		}		
}
}