@font-face {
    font-family: 'Helvetica Neue';
    src: 	url('../fonts/helveticaneue/HelveticaNeue.eot') format('eot'),
    		url('../fonts/helveticaneue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
   	 		url('../fonts/helveticaneue/HelveticaNeue.woff2') format('woff2'),
        	url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl 300';
    src: url('../fonts/muesosans300/MuseoSansCyrl-300.eot');
    src: url('../fonts/muesosans300/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/muesosans300/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/muesosans300/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}